/*
	IMPORTS
*/

@import "./reset.css";
@import "./flex.css";
@import "./animations.css";

/*
    GRADIENTS:
    
    background-image: linear-gradient(153deg, #1C0029 5%, #273A76 34%, #54DBFB 100%);
    background-image: linear-gradient(163deg,#270530 10%,#196d82 36%,#fff 70%);
    
    
*/


/*
    RULES
*/

body {
	font-family: "Open Sans", Helvetica, "Helvetica Neue", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 12pt;
	font-weight: normal;
	color: hsla(0, 0%, 0%, .8);
}

body.fade-in {
    animation: fadeIn 1s forwards;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	margin-bottom: 10px;
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.4rem;
}

h3 {
	font-size: 1.3rem;
}

h4 {
	font-size: 1.2rem;
}

h5 {
	font-size: 1.1rem;
}

h6 {
	font-size: 1rem;
}

p {
	font-size: 1rem;
	line-height: 1.4rem;
	color: hsla(0, 0%, 0%, .5);
}

.fade-in {
    animation: fadeIn 0.3s forwards;
}

.fade-out {
    animation: fadeOut 0.3s forwards;
}

button.primary {
	background-image: linear-gradient(-180deg, #5EB5E5 0%, #2693D9 100%);
	border: 1px solid #BCBCBC;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.20);
	border-radius: 6px;
	color: #fff;
	padding: 10px;
	font-size: .9rem;
}

button.hollow {
	background: transparent;
	border: 1px solid #bcbcbc;
	border-radius: 6px;
	color: #fff;
	padding: 10px;
	margin-left: 10px;
	font-size: .9rem;
}

.container {
	padding: 20px 0;
	margin: 0 auto;
}

.center-container {
	max-width: 970px;
	padding: 0 0 20px 0;
}

.nav-bar {
	height: 60px;
	position: relative;
	border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
	z-index: 1000;
}

.nav-bar a {
	color: hsla(0, 0%, 100%, 0.7);

	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}

.nav-bar a:hover {
	color: #fff;
}

.nav-bar.dark a {
    color: hsla(0, 0%, 0%, 0.7);
}

.nav-bar.dark a:hover {
	color: hsla(0, 0%, 0%, 1);
}

.nav-bar.center-container {
	margin: 0 auto;
	padding: 20px;
}

.hero {
	background-image: linear-gradient(to left top, rgb(76, 221, 255), rgb(59, 154, 202) 10%, rgb(45, 108, 165) 20%, rgb(42, 82, 145) 27%, rgb(40, 61, 129) 35%, rgb(34, 38, 84) 50%, rgb(30, 22, 53) 63%, rgb(12, 0, 16) 93%, rgb(0, 0, 0));
	position: relative;
	height: 750px;
	margin-top: -91px;
	color: hsla(0, 0%, 100%, 0.9);
	font-family: "Open Sans", Helvetica Neue, Helvetica, sans-serif;
	z-index: 0;
}

.hero-image.helmet {
	width: 350px;
	-webkit-filter: drop-shadow(25px 35px 25px hsla(0, 0%, 0%, 0.7));
	filter: drop-shadow(25px 35px 25px hsla(0, 0%, 0%, 0.7));
}

.hero div.text {
	width: 390px;
	color: hsla(0, 0%, 100%, 0.9);
}

.hero div.text > h1 {
	line-height: 2rem;
	margin-bottom: 20px;
}

.hero div.text > p {
	line-height: 1.5rem;
	font-weight: 100;
	margin-bottom: 20px;
	color: hsla(0, 0%, 100%, 0.75);
}

.hero button {
	width: 135px
}

.courses .left-content {
	padding: 0;
}

.courses .right-content img {
	width: 100%;
	-webkit-filter: drop-shadow(4px 10px 10px hsla(0, 0%, 0%, .5));
	filter: drop-shadow(4px 10px 10px hsla(0, 0%, 0%, 0.5));
}

div.cfi {
	background-color: #f5f7f9;
	height: 400px;
}

div.cfi img.cfi-stuff {
	width: 500px;
}

div.time {
	height: 500px;
}

div.time div.container div.left-content {
	max-width: 400px;
	margin-right: 50px
}

div.extras {
	height: 700px;
	background-image: radial-gradient(circle farthest-side at right bottom, #fefdfe 5%, #f8cdda 25%, #1d2b64 80%, #0e153a 98%);
	color: #fff;
}

div.extras p {
	color: #fff;
	font-weight: 100;
}

div.summary .right-content {
	height: 700px;
	background: hsla(0, 0%, 0%, 0.1);
}

.blog.container {
	background: hsla(0, 0%, 0%, 0.1);
	padding: 20px 50px;
}

.blog .header.column {
	height: 60px;
	margin-bottom: 20px;
}

.blog .column {
	height: 100%;
}

.blog .column .post.row {
	height: 100px;
	align-self: center;
	padding: 20px;
	margin-top: 20px;
	width: 100%;
}

.blog .column .post.row .left {
	width: 30%;
    max-width: 275px;
}

.blog .column .post.row .right {
	width: 70%;
    max-width: 550px;
}

.blog #posts .post.row {
    margin: 10px 0;
    height: 150px;
    border: 1px solid hsla(0, 0%, 0%, 0.1);
}

.blog #posts .post.row .preview-image img {
    max-width: 275px;
    max-height: 140px;
}

.blog .post.fade-in {
    animation: fadeIn 1s forwards;
}