@using System.Security.Claims

@{
    ViewBag.Title = "Welcome! | Aircraft Checkout";
}

<!-- Nav Section -->
<div class="nav-bar center-container row center middle full fade-in">
    <div class="nav left-content row right middle half">
        <ul class="nav-left row nowrap between half">
            <li><a href="/">Home</a></li>
            <li><a href="/features">Features</a></li>
            <li><a href="/courses">Pricing</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </div>
    <div class="center-content row center middle quarter"></div>
    <div class="nav right-content row left middle quarter">
        <ul class="nav-right row nowrap between half">
            
            @if (User.Identity.IsAuthenticated) 
            {
                <li><a id="signInUser" href="/profile">@User.Identity.Name</a></li>
                <li><a id="signUpOut" href="/signout">Sign Out</a></li>
            } 
            
            else
            {
                <li>
                    <a id="signInUser" href="/signin" data-no-route="true">Sign In</a>
                    <div class="signInForm hidden">
                        <h3>Sign In</h3>
                        <div class="form-group">
                            <label for="UserName"></label>
                            <input id="userName" type="text" class="form-control" required />
                            <span class="validation" data-validation-for="userName"></span>
                        </div>
                        <div class="form-group">
                            <label for="Password"></label>
                            <input id="password" class="form-control" type="password" required />
                            <span class="validation" data-validation-for="Password"></span>
                        </div>
                        <div class="form-group">
                            <input id="submit" type="submit" class="button primary raised" value="Sign In">
                        </div>
                    </div>    
                </li>
                <li><a id="signUpOut" href="/signup">Sign Up</a></li>
            }
        </ul>
    </div>
</div>

<!-- Main Content -->
<div class="ajax-container row center full fade-in">
    Loading...
</div>

<!-- footer -->

@section scripts{

}