<link rel='import' href='../../bower_components/polymer/polymer.html' />


<dom-module id='two-column'>
    <template>
        <style>
            :host {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-around;
                position: relative;
                width: 100%;
            }
            
            :host .container {
                display: flex;
                flex-flow: row nowrap;
                width: 100%;
                max-width: 1400px;
                justify-content: space-around;
                align-items: center;
            }
            
            :host .left-container, .right-container {
                display: flex;
                flex-flow: row nowrap;
                width: 300px;
                z-index: 1000;
            }
            
            :host .left-container {
                justify-content: flex-start;
            }
            
            :host .right-container {
                justify-content: flex-end;
            }
            
            :host ::content .left-column,
            :host ::content .right-column {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-around;
                flex-basis: 300px;
                align-items: center;
            }
        </style>
        
        <div class="container">
            <div class="left-container">
                <content select='div[class="left-column"]'></content>
            </div>
            <div class="right-container">
                <content select='div[class="right-column"]'></content>
            </div>
        <div>

    </template>

    <script>
        Polymer({
            is: 'two-column'
        });
    </script>
</dom-module>