@{
    ViewBag.Title = "Welcome";
}

<!-- Navigation section -->
<div class="nav-bar row center middle full">
    <div class="container row nowrap center full">
        <div class="left-container row center half">
            <ul class="nav-left row nowrap between three-fourths">
                <li><a href="/">Home</a></li>
                <li><a href="/features">Features</a></li>
                <li><a href="/courses">Pricing</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </div>
        <div class="right-container row center half">
            <ul class="nav-right row nowrap around three-fourths">
                <li><a href="/signin">Sign In</a></li>
                <li><a href="/signout">Sign Up</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- Main Content -->
<div class="ajax-container row center full">
    Loading...
</div>

<!-- footer -->

@section scripts{
    
}