@{
    ViewBag.Title = "Welcome";
}

@section Imports{
    <link rel="import" href="~/elements/elements.html">
}

<!-- Navigation section -->
<nav-bar>
    <ul class="nav-left">
        <li><a href="/">Home</a></li>
        <li><a href="/features">Features</a></li>
        <li><a href="/courses">Pricing</a></li>
        <li><a href="/blog">Blog</a></li>
    </ul>
    <ul class="nav-right">
        <li><a href="/signin">Sign In</a></li>
        <li><a href="/signout">Sign Up</a></li>
    </ul>
</nav-bar>

<!-- Main Content -->
<ajax-container>
    Loading...
</ajax-container>

<!-- footer -->

@section scripts{
    
}