.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 10px;
}

.nowrap {
    flex-wrap: nowrap;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.center {
    justify-content: center;
}

.left {
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
}

.top {
    align-content: flex-start;
}

.middle {
    align-content: center;
}

.bottom {
    align-content: flex-end;
}

.one-col,
.one-cols {
    flex-basis: 100%;
}

.two-cols {
    flex-basis: 50%;
}

.three-cols {
    flex-basis: 33.33%;
}

.four-cols {
    flex-basis: 25%;
}

.five-cols {
    flex-basis: 20%;
}

.six-cols {
    flex-basis: 16.77%
}

.seven-cols {
    flex-basis: 14.28%
}

.eight-cols {
    flex-basis: 12.5%;
}

.nine-cols {
    flex-basis: 11.11%;   
}

.ten-cols {
    flex-basis: 10%;
}

.eleven-cols {
    flex-basis: 9%;
}

.twelve-cols {
    flex-basis: 8.33%
}