.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 10px;
}

.nowrap {
    flex-wrap: nowrap;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.around {
    justify-content: space-around;
}

.between {
    justify-content: space-between;
}

.center {
    justify-content: center;
}

.left {
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
}

.top {
    align-items: flex-start;
}

.middle {
    align-items: center;
}

.bottom {
    align-items: flex-end;
}

.full,
.span-12 {
    flex-basis: 100%;
}

.three-fourths {
    flex-basis: 75%;
}

.half,
.span-6 {
    flex-basis: 50%;
}

.third,
.span-4 {
    flex-basis: 33.33%;
}

.fourth,
.span-3 {
    flex-basis: 25%;
}

.fifth {
    flex-basis: 20%;
}

.sixth,
.span-2 {
    flex-basis: 16.77%
}

.seventh {
    flex-basis: 14.28%
}

.eighth {
    flex-basis: 12.5%;
}

.nineth {
    flex-basis: 11.11%;   
}

.tenth {
    flex-basis: 10%;
}

.eleventh {
    flex-basis: 9%;
}

.twelveth,
.span-1 {
    flex-basis: 8.33%
}