/*
	IMPORTS
*/
@import "reset.css";

/*
    GRADIENTS:
    
    background-image: linear-gradient(153deg, #1C0029 5%, #273A76 34%, #54DBFB 100%);
    background-image: linear-gradient(163deg,#270530 10%,#196d82 36%,#fff 70%);
    
    
*/



/*
    RULES
*/

body {
    font-family: "Open Sans", Helvetica, "Helvetica Neue", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12pt;
    font-weight: normal;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin-bottom: 10px;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1.1rem;
}

h6 {
    font-size: 1rem;
}

